@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-secondary: #3B82F6;
  --color-accent: #0EA5E9;
  --color-success: #10B981;
  --color-neutralbg: #F9FAFB;
  --color-darktext: #1F2937;
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-neutralbg);
    color: var(--color-darktext);
  }
}